
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Book store</title>
  <link rel="stylesheet" href=".//css//bookstore.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body>

  <div id="bookStoreApp">

    <header>
      <h1 class="jumbotron">Welcome to Book Store</h1>
	  <div class="row">
	  <div class="col-md-12">
	<div class="col-md-6">	 
      	<input id="input-Book" type="text" placeholder="Add or Search Book">
      	<hr>
	   <input type="button"  id="new-Book" value="Add" class="btn btn-success">
	   <input type="button" id="search-Book" value="Search" class="btn btn-outline-success my-2 my-sm-0"> </input>
	   <input type="button" id="displayAll" value="Display All Stock" class="hidden"> </input>
	   
	  </div>

	 
		</div>
	  </div>
    </header>
     
    <section id="main">
	<div class="row">
	<div class="col-md-12">
	<div class="col-md-6">
	
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as sold</label>
      <ul id="Book-list"></ul>	
	
	  <ul id="Book-Search-Result" class="hidden"></ul>
	   </div>
	   </div>
	  
	  </div>
    </section>

    <footer>
	<div class="row">
	 <div class="col-md-6">
	
      <a id="clear-sold">Clear sold</a>
	  <a id="clear-search">Clear Search</a>
      <div id="Book-count"></div>
	   
	   </div>
	    <div class="col-md-6">
	
      <a id="clear-search">Clear Search</a>      
	   
	   </div>
	  </div>
    </footer>

  </div>
  

  

  

  <script src=".//libs//json2.js"></script>
  <script src=".//libs//jquery.js"></script>
  <script src=".//libs//underscore.js"></script>
  <script src=".//libs//backbone.js"></script>
  <script src=".//libs//backbone.localStorage.js"></script>
  <script src=".//js/bookstore.js"></script>
  <link rel="stylesheet" href=".//css//font-awesome.css">

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      
     
	  <input class="toggle" type="checkbox" <%= sold ? 'checked="checked"' : '' %> />
	  <label><%- title %></label>	   
	   <label ><% if(sold==false){%> -- Available <% } else { %> -- Out of Stock <% } %></label>
	  </div>
      <a class="destroy"></a>
   
    <input class="edit" type="text" value="<%- title %>" />
   </script>
  
  <script type="text/template" id="search-item-template">
    <div class="view">      
     
	  <label><%- title %></label> 
	 
	 
      
    </div>
   
  </script>

  <script type="text/template" id="stats-template">
    <% if (sold) { %>
      <a id="clear-sold">Clear <%= sold %> sold <%= sold == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="book-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> in stock</div>
  </script>
<script type="text/template" id="search-stats-template">
    <% if (found) { %>
      <a id="clear-search">Clear Search</a>
    <% } %>
    <div class="search-count"><b><%= found %></b> <%= found == 1 ? 'item' : 'items' %> found</div>
  </script>  

  </body>
</html>
